@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Primary Colors */
    --dark-blue-intro-and-email: hsl(217, 28%, 15%);
    --dark-blue-main: hsl(218, 28%, 13%);
    --dark-blue-footer: hsl(216, 53%, 9%);
    --dark-blue-testimonials: hsl(219, 30%, 18%);

    /* Accent Colors */
    --cyan-inside-call-to-action: hsl(176, 68%, 64%);
    --blue-inside-call-to-action: hsl(198, 60%, 50%);
    --light-red-error: hsl(0, 100%, 63%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);

    /* Font Families */
    --font-family-body: 'Open Sans', sans-serif;
    --font-family-headings: 'Raleway', sans-serif;

    /* Font Weights */
    --font-weight-body: 400;
    --font-weight-headings: 700;

    /* Font Sizes */
    --font-size-body: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-blue-intro-and-email);
    font-size: var(--font-size-body);
    width: 90%;
    margin: 0 auto;
}

.hero-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 40px auto;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 1.5rem;
}

.nav-links li a {
    text-decoration: none;
    font-family: var(--font-family-headings);
    color: var(--white);
    font-size: 1.3rem;
}

.hero__logo {
    width: 100px;
    display: block;
}

.hero__main {
    padding-top: 5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__illustration__img {
    width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.hero__texts {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero__title {
    font-family: var(--font-family-headings);
    font-size: 2rem;
    color: var(--white);
    text-align: center;
    line-height: 1.5;
}

.hero__paragraph {
    font-family: var(--font-family-body);
    font-size: 1.2rem;
    color: var(--white);
    text-align: center;
    line-height: 1.5;
}

.hero__button {
    font-family: var(--font-family-headings);
    font-size: 1.3rem;
    color: var(--white);
    background-color: var(--blue-inside-call-to-action);
    padding: 20px 120px;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    text-decoration: none;
}

.benefits__container {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.benefits__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 10rem;
    color: var(--white);
}

.benefits__icon {
    width: 100px;
    display: block;
    padding-bottom: 3rem;
}

.benefits__title {
    font-family: var(--font-family-headings);
    font-size: 1.5rem;
}

.benefits__paragraph {
    font-family: var(--font-family-body);
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    width: 90%;
}